# Import dependencies and cleaning data

In [1]:
!pip install -U imbalanced-learn

Requirement already up-to-date: imbalanced-learn in c:\users\kirst\appdata\local\continuum\anaconda3\lib\site-packages (0.7.0)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in c:\users\kirst\appdata\local\continuum\anaconda3\lib\site-packages (from imbalanced-learn) (0.13.2)
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in c:\users\kirst\appdata\local\continuum\anaconda3\lib\site-packages (from imbalanced-learn) (1.16.5)
Requirement already satisfied, skipping upgrade: scipy>=0.19.1 in c:\users\kirst\appdata\local\continuum\anaconda3\lib\site-packages (from imbalanced-learn) (1.3.1)
Requirement already satisfied, skipping upgrade: scikit-learn>=0.23 in c:\users\kirst\appdata\local\continuum\anaconda3\lib\site-packages (from imbalanced-learn) (0.23.1)
Requirement already satisfied, skipping upgrade: threadpoolctl>=2.0.0 in c:\users\kirst\appdata\local\continuum\anaconda3\lib\site-packages (from scikit-learn>=0.23->imbalanced-learn) (2.1.0)

In [2]:
import pandas as pd
import os
from sklearn import tree

In [3]:
data = pd.read_csv('germanHeaders.csv', header=None)

In [4]:
columns = data.iloc[0].tolist()

In [5]:
data.columns = columns

In [6]:
data = data.iloc[1:]

In [7]:
data = data.iloc[:,1:]

In [8]:
data.columns.tolist()

['account_status',
 'duration',
 'credit_history',
 'purpose',
 'credit_amount',
 'savings_account',
 'unemployed',
 'installment_rate',
 'personal_status_sex',
 'debtors/guarantors',
 'present_residence_since',
 'property',
 'age',
 'other_installment_plans',
 'housing',
 'credits',
 'job',
 'liable_for',
 'telephone',
 'foreign_worker',
 'good/bad']

In [9]:
data

,account_status,duration,credit_history,purpose,credit_amount,savings_account,unemployed,installment_rate,personal_status_sex,debtors/guarantors,...,property,age,other_installment_plans,housing,credits,job,liable_for,telephone,foreign_worker,good/bad
1,A11,6,A34,A43,1169,A65,A75,4,A93,A101,...,A121,67,A143,A152,2,A173,1,A192,A201,1
2,A12,48,A32,A43,5951,A61,A73,2,A92,A101,...,A121,22,A143,A152,1,A173,1,A191,A201,2
3,A14,12,A34,A46,2096,A61,A74,2,A93,A101,...,A121,49,A143,A152,1,A172,2,A191,A201,1
4,A11,42,A32,A42,7882,A61,A74,2,A93,A103,...,A122,45,A143,A153,1,A173,2,A191,A201,1
5,A11,24,A33,A40,4870,A61,A73,3,A93,A101,...,A124,53,A143,A153,2,A173,2,A191,A201,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
996,A14,12,A32,A42,1736,A61,A74,3,A92,A101,...,A121,31,A143,A152,1,A172,1,A191,A201,1
997,A11,30,A32,A41,3857,A61,A73,4,A91,A101,...,A122,40,A143,A152,1,A174,1,A192,A201,1
998,A14,12,A32,A43,804,A61,A75,4,A93,A101,...,A123,38,A143,A152,1,A173,1,A191,A201,1
999,A11,45,A32,A43,1845,A61,A73,4,A93,A101,...,A124,23,A143,A153,1,A173,1,A192,A201,2
1000,A12,45,A34,A41,4576,A62,A71,3,A93,A101,...,A123,27,A143,A152,1,A173,1,A191,A201,1

In [10]:
a_columns = ['account_status', 'credit_history', 'purpose', 'savings_account', 'unemployed',
     'personal_status_sex', 'debtors/guarantors', 'property', 'other_installment_plans', 'housing', 'job', 'telephone', 'foreign_worker']

In [11]:
data[a_columns] = data[a_columns].replace({'A':''}, regex=True)
data['good/bad'] = data['good/bad'].replace({'2':'0'}, regex=True)

In [12]:
data[a_columns] = data[a_columns].apply(pd.to_numeric) 
data

,account_status,duration,credit_history,purpose,credit_amount,savings_account,unemployed,installment_rate,personal_status_sex,debtors/guarantors,...,property,age,other_installment_plans,housing,credits,job,liable_for,telephone,foreign_worker,good/bad
1,11,6,34,43,1169,65,75,4,93,101,...,121,67,143,152,2,173,1,192,201,1
2,12,48,32,43,5951,61,73,2,92,101,...,121,22,143,152,1,173,1,191,201,0
3,14,12,34,46,2096,61,74,2,93,101,...,121,49,143,152,1,172,2,191,201,1
4,11,42,32,42,7882,61,74,2,93,103,...,122,45,143,153,1,173,2,191,201,1
5,11,24,33,40,4870,61,73,3,93,101,...,124,53,143,153,2,173,2,191,201,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
996,14,12,32,42,1736,61,74,3,92,101,...,121,31,143,152,1,172,1,191,201,1
997,11,30,32,41,3857,61,73,4,91,101,...,122,40,143,152,1,174,1,192,201,1
998,14,12,32,43,804,61,75,4,93,101,...,123,38,143,152,1,173,1,191,201,1
999,11,45,32,43,1845,61,73,4,93,101,...,124,23,143,153,1,173,1,192,201,0
1000,12,45,34,41,4576,62,71,3,93,101,...,123,27,143,152,1,173,1,191,201,1

In [13]:
data.to_csv('german.csv')

# Assign variables and adjust sampling

In [14]:
X = data.drop("good/bad", axis=1)
y = data["good/bad"]
attribute_names = X.columns
X.head()

,account_status,duration,credit_history,purpose,credit_amount,savings_account,unemployed,installment_rate,personal_status_sex,debtors/guarantors,present_residence_since,property,age,other_installment_plans,housing,credits,job,liable_for,telephone,foreign_worker
1,11,6,34,43,1169,65,75,4,93,101,4,121,67,143,152,2,173,1,192,201
2,12,48,32,43,5951,61,73,2,92,101,2,121,22,143,152,1,173,1,191,201
3,14,12,34,46,2096,61,74,2,93,101,3,121,49,143,152,1,172,2,191,201
4,11,42,32,42,7882,61,74,2,93,103,4,122,45,143,153,1,173,2,191,201
5,11,24,33,40,4870,61,73,3,93,101,4,124,53,143,153,2,173,2,191,201

In [15]:
from imblearn.over_sampling import RandomOverSampler
ros = RandomOverSampler(random_state=1)
X_resampled, y_resampled = ros.fit_resample(X, y)

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_resampled, y_resampled, random_state=1)

In [17]:
y_train.value_counts()

0    527
1    523
Name: good/bad, dtype: int64

# Decision Tree

In [18]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.8228571428571428

# Random Forest

In [19]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=2000)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.8914285714285715

In [20]:
sorted(zip(rf.feature_importances_, attribute_names), reverse=True)

[(0.14876609468509439, 'account_status'),
 (0.12438133953565839, 'credit_amount'),
 (0.099032135793865, 'age'),
 (0.08958680063848168, 'duration'),
 (0.06336214427396877, 'credit_history'),
 (0.05716497489526735, 'purpose'),
 (0.05457107008938013, 'savings_account'),
 (0.05227236904421662, 'unemployed'),
 (0.04368727999279158, 'property'),
 (0.04044204465847234, 'installment_rate'),
 (0.03830517196491719, 'present_residence_since'),
 (0.03065454214957988, 'personal_status_sex'),
 (0.03054735387159608, 'job'),
 (0.02545570338262863, 'other_installment_plans'),
 (0.023565838191697663, 'housing'),
 (0.02262597433426822, 'debtors/guarantors'),
 (0.020778713093705756, 'credits'),
 (0.018301060098217588, 'telephone'),
 (0.012089282571304316, 'liable_for'),
 (0.0044101067348885975, 'foreign_worker')]